.container-tudo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
}

.tudo {
  display: flex;
  flex-direction: row; /* Change to row */
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 15px #000000;
  max-height: 20vh;
  overflow: auto;
  padding: 10px;
}
.voltar{
  display: flex;
}

.container,
.tipo {
  padding: 10px;
}

.tudo button {
  background-color: #ffffff;
}

.voltar button{
  padding-right: 1.5vw;
}

.container {
  flex: 1; 
  margin-right: 5px;
  text-align: center;
  color: #3c4634;
  border-radius: 20px;
}

.tipo {
  width: 35%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-right: 10px;
}

.tipo select {
  background-color: #eeeeee;
  color: #2b2c2a;
}

.tipo select {
  margin-bottom: 3px; /* Adiciona um espaçamento entre as select */
}

.container span {
  font-size: 24px;
  font-weight: bold;
}

.divTable {
  overflow-x: auto;
  margin: 20px;
}

.divTable table {
  width: 100%;
  border-collapse: collapse;
}

.divTable th,
.divTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #bbbaba;
  cursor: pointer;
}

.divTable th {
  background-color: #3c4634;
  font-weight: bold;
  text-transform: uppercase;
  color: #ddd;
}

.detalhes-lista{
  display: none;
}

.detalhes-operacao {
  margin: 20px;
  padding: 20px;
  background-color: #3c4634;
  box-shadow: 0 4px 7px #000000;
  border-radius: 20px;
}

.detalhes-operacao h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ddd;
}

.detalhes-operacao table {
  width: 100%;
  border-collapse: collapse;
}

.detalhes-operacao th,
.detalhes-operacao td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.detalhes-operacao th {
  background-color: #3c4634;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
}

.detalhes-operacao td {
  color: #000000;
  background-color: #fff9;
  font-size: small;
  text-transform: uppercase;
}

.detalhes-operacao th {
  color: #ddd;
}


.detalhes-lista li {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #fff4;
  color: #dddddd;
  text-transform: uppercase;
  list-style-type: none; 
}

.detalhes-lista  li strong{
  text-transform: uppercase;
  color: #272727;
  font-size: 11px;
  background-color: #fff9;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 5px;
}

@media (max-width: 999px){
  .tudo {
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
  }
  .container {
    flex: unset; 
    font-size: 65%;
    margin: 0;
    padding: 0;
  }
  .tipo {
    width: 95%; 
    padding: 0;
  }
  .detalhes-operacao{
    display: none;
  }
  .detalhes-lista{
    display: block;
    font-size: small;
  }
  .tipo select {
    font-size: 12px;
    
  }

  .tudo button {
    order: -1; 
    align-self: flex-start;
    margin-bottom: 0px; 
  }


  .divTable th {
  font-size: 0.7rem;

  }
  .divTable td{
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
    .tipo select{
      width: 100%;
      font-size: 0.6rem;
    }
}
